{
	"plugins": [
		"babel-plugin-transform-react-jsx",
		"transform-object-rest-spread"
	],
	"presets": [
		[
			"babel-preset-env",
			{
				"modules": false
			}
		]
	],
	"env": {
		"commonjs": {
			"presets": [
				[
					"babel-preset-env",
				{
					"modules": "commonjs"
				}
				]
			]
		},	
		"umd": {
			"presets": [
				[
					"babel-preset-env",
				{
					"modules": "umd"
				}
				]
			]
		},
		"test": {
			"presets": [
				[
					"babel-preset-env",
				{
					"modules": "commonjs"
				}
				]
			]
		}
	}
}

